/* src/index.css */
@import "@picocss/pico/css/pico.min.css";

:root {
  --pico-border-radius: 8px;
}

body {
  padding: 2rem 0;
}

/* Keeps buttons from taking over the screen */
button {
  width: auto;
}